/* import fonts from fonts.css */
@import url(./fonts.css);

/* CSS variables */
@import url(./partials/variables.css);

/* global styling */
@import url(./partials/global.css);

/* start nav bar */
nav.navbar {
  padding: 0rem 29rem;
}

.header_area .main-menu .navbar-brand {
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  padding: 2rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-brand:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  padding: 2rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* end nav bar */

/* main */
hr {
  border: none;
  color: var(--title-color);
}

.site-main h1 {
  color: var(--title-color);
}

.site-main h3 {
  color: var(--title-color);
}

.site-main h2 {
  color: var(--title-color);
  padding-bottom: 3rem;
  text-align: right;
}

/* start about */
section#about {
  padding-top: 5rem;
}
span.text-muted {
  text-align: right;
}

@media only screen and (max-width: 800px) {
  span.text-muted {
    text-align: left;
  }
  h2.title-section {
    text-align: left;
  }
}
@media only screen and (max-width: 1000px) {
  div.row.skills {
    display: flex;
    flex-direction: column-reverse;
  }
  div.row.educations {
    display: flex;
    flex-direction: column-reverse;
  }
  div.row.experiences {
    display: flex;
    flex-direction: column-reverse;
  }
  h2.title-section {
    text-align: left;
  }
}

/* end about */

/* start of skills */
/* section#skills {
  padding: 0rem 13rem 0;
} */
/* end of skills */

/* start of experience */
/* section#experience {
  padding: 0rem 13rem 0;
} */
/* end of experience */

/* start of education */
/* section#education {
  padding: 0rem 13rem 0;
} */
/* end of education */
